body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(245, 199, 231);
}

h1 {
    text-align: center;
}

.contenedor-Galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px; 
    margin: 0 auto;
  
}

.imagen {
    display: flex;
    background-color:rgb(247, 147, 217) ;
    flex: 0 0 30%;
    padding: 5px;
    margin: 5px; 
    justify-content: center;
}

.imagen img {
    width: 80%; 
    height: auto; 
    display: block;
    border-radius: 10px; 
}
