* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 40px;
}

.logo {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: rgb(193, 200, 204);
    font-weight: bold;
    font-size: 14px;
    margin: 0 20px;
}

header a:hover {
    color: gray;
}

.language-switch {
    display: flex;
}

.leng-btn {
    background-color: rgb(139, 139, 139);
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
}

.leng-btn:hover {
    background-color: rgba(139, 139, 139, 0.7);
}

.leng-btn.active {
    background-color: #a0a0a0;
}
